* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  color: white;
  background-color: rgb(34, 34, 34);
}

h1 {
  margin: 0;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}