.section-my-header {
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
  font-size: 30px;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);

  @include bp-sm {
    font-size: 36px;
  }

  @include bp-md {
    font-size: 42px;
  }

  @include bp-lg {
    font-size: 46px;
  }

  @include bp-xl {
    font-size: 52px;
  }
}

.my-header {
  position: fixed;
  overflow: hidden;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(./picture/notebook.jpg) center/cover no-repeat;
  transition: transform 2s ease;

  @include bp-sm {
    background: url(./picture/wooden-desk.jpg) center/cover no-repeat;
  }
}

.zoom-in {
  transform: scale(1.1);

  @include bp-md {
    transform: scale(1.1);
  }
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity ease 2s;
  background-image: linear-gradient( 111.7deg,  rgba(251,198,6,0.4) 2.4%, rgba(224,82,95,0.4) 28.3%, rgba(194,78,154,0.4) 46.2%, rgba(32,173,190,0.4) 79.4%, rgba(22,158,95,0.4) 100.2% );
  background-image: linear-gradient( 111.1deg,  rgba(251,140,0,0.4) 3.2%, rgba(98,0,234,0.4) 90.3% );
}

.my-header-subs {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-header-str-area {
  display: flex;
  flex-direction: column;
  flex-basis: 10em;
  padding-bottom: 5%;
}

.my-header-string {
  font-family: 'Courgette', cursive;
  flex-basis: 1.5em;
  font-size: 1em;
  opacity: 0; 
  & span  {
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.visible {
  opacity: 1;
}